@import "nib"
@import "reset"
@import "colors"

body {
    color: color-grey;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a, a:visited {
    color: color-grey;
    text-decoration: none;
}

main {
    overflow: hidden;
}

@import "nav"
@import "landing"
@import "work"
@import "contact"
