nav {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;

    border: 20px solid #ffffff;

    background: #ffffff url("./img/marekventur.png") no-repeat;
    background-position: top left;
    background-size: contain;

    h1 {
        position: absolute;
        a, a:hover, a:visited {
            color: transparent;
        }
    }

    ul {
        float: right;

        li {
            line-height: 30px;
            display: inline-block;
            font-size: 16px;
            margin-left: 30px;
        }
    }

    @media (max-width: 600px) {
        border-width: 10px

        ul {
            text-align: right;
        }
    }
}
