color-blue        = #0ac5f4;
color-light-blue  = #36d9ff;
color-dark-blue   = #00647c;

color-yellow      = #fff403;
color-dark-yellow = #8a8402;

color-orange      = #ff8003;
color-pink        = #8d14f6;

color-gray        = #2f2f2f

/* http://paletton.com/#uid=73n1e0kvAXn++9-++p9q0++00++ */
