color-background     = #ffc300;
color-text           = #f8f8f8;

color-box-headers    = #991A02 #820286 #026386 #047C33;
color-box-text       = #222;
color-box-text-minor = #888;
color-box-background = #f8f8f8;


color-black     = #333333;
color-pink      = #e9a1b9;
color-green     = #c2d53f;
color-blue      = #02c9c9;
color-gray      = #605f5f;
color-lightgray = #dcdcdc;
color-lightblue = #b7d3d3;