.game.game-slingshot {
    /* todo remove me */
    canvas {
        position: absolute;
        top: 0px;
    }

    position: absolute;
    top: 0;
    left: 0;


    svg {
        .wood {
            fill:color-yellow;
            fill-opacity:1
        }

        .elastic {
            fill:#ffffff;
            fill-opacity:1;
        }

        .ball {
            fill:#00647c;
            fill-opacity:1;
        }

        .box {
            rect {
                fill: #fff;

            }
            text {
                color: #000;
                font-size: 12px;
                dominant-baseline: middle;
                text-anchor: middle;
            }
        }

        .box.box-large {
            text {
                fill: color-blue ;
                font-size: 16px;
                font-weight: bold;
            }
        }

        .enemy {
            .body {
                fill: color-yellow;
            }

            .mouth, .eye {
                fill: color-gray;
            }

            .sweat {
                fill: color-dark-blue;
            }
        }
    }
}