.game.game-slingshot {
    /* todo remove me */
    canvas {
        position: absolute;
        top: 0px;
        pointer-events: none;
    }

    position: absolute;
    top: 0;
    left: 0;


    svg {
        .wood {
            fill:color-yellow;
            fill-opacity:1
        }

        .elastic {
            fill:#ffffff;
            fill-opacity:1;
        }

        .ball {
            fill:#00647c;
            fill-opacity:1;
        }

        .box {
            rect {
                fill: #fff;

            }
            text {
                color: #000;
                font-size: 12px;
                dominant-baseline: middle;
                text-anchor: middle;
            }
        }

        .box.box-large {
            text {
                fill: color-blue ;
                font-size: 16px;
                font-weight: bold;
            }
        }

        .enemy {
            .body {
                fill: color-yellow;
            }

            .mouth {
                fill: color-gray;
            }

            .eye {
                fill: color-gray;
                animation: enemy-eyes 5s infinite;
                transform-origin: center;
            }

            .sweat {
                fill: color-dark-blue;

                animation: enemy-sweat 7s infinite;
            }
        }
    }

    &.game-active .controlls {
        display: block;
    }

    .controlls {
        display: none;

        position: absolute;
        top: 230px;
        left: 0px;
        z-index: 1;

        button {
            display: block;
            color: #fff;
            background-color: color-light-blue;
            width: 40px;
            height: 40px;
            border: 0px solid #fff;
            border-radius: 5px;
            cursor: pointer;

            i.fa {
                font-size: 20px;
                transition: all 0.5s;
            }

            &:hover {
                background-color: color-dark-blue;

                i.fa {
                    transform: rotate(40deg);
                }
            }
        }
    }
}

@keyframes enemy-eyes {
    0% { transform: scaleY(1); }
    22% { transform: scaleY(1); }
    25% { transform: scaleY(0); }
    30% { transform: scaleY(1); }
    35% { transform: scaleY(0); }
    38% { transform: scaleY(1); }
}

@keyframes enemy-sweat {
    0% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
    30% { opacity: 1; }
    40% { transform: translate(0px, 0px); }
    50% { opacity: 1; }

    70% {
        transform: translate(-3px, 10px);
        opacity: 0;
    }

    100% { opacity: 0; }
}