.game.game-slingshot {
    /* todo remove me */
    canvas {
        position: absolute;
        top: 0px;
    }

    position: absolute;
    top: 0;
    left: 0;
    width: 900px;

    overflow: hidden;

    svg {
        .wood {
            fill:#fff403;
            fill-opacity:1
        }

        .rubber {
            fill:#ffffff;
            fill-opacity:1;
        }

        .ball {
            fill:#00647c;
            fill-opacity:1;
        }

        .box {
            rect {
                fill: #fff;

            }
            text {
                color: #000;
                font-size: 12px;
            }
        }
    }
}