@import "nib"
@import "mixins"
@import "reset"
@import "colors"

$fa-font-path = "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts"
@import "../node_modules/font-awesome-stylus/stylus/index"


body {
    color: color-grey;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a, a:visited {
    color: color-grey;
    text-decoration: none;
}

/*** Nav ***/

nav {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;

    border: 20px solid #ffffff;

    background: #ffffff url("./img/marekventur.png") no-repeat;
    background-position: top left;
    background-size: contain;

    h1 {
        position: absolute;
        a, a:hover, a:visited {
            color: transparent;
        }
    }

    ul {
        display: block;
        position: absolute;
        left: 150px;
        right: 0px;
        line-height: 1.2em;
        font-size: 14px;
    }

    @media (max-width: 600px) {
        border-width: 10px

        ul {
            text-align: right;
        }
    }
}

main {
    overflow: hidden;
}

/*** Landing ***/

section#landing {
    text-align: center;
    width: 100vw;

    margin-top: 90px;
    @media (max-width: 600px) {
        margin-top: 70px;
    }

    font-size: 1vmin;

    .circle {
        position: relative;
        background-color: color-blue;
        color: #ffffff;
        border-radius: 50%;
        width: 100em;
        height: 100em;

        margin: auto;

        box-shadow: 2px 2px 5px #888888;

        h2 {
            /*font-family: 'Chewy', sans-serif;*/
            font-weight: 900;
            font-size: 21em;
            padding-top: 1.8em;
        }

        h3 {
            font-size: 7em;
            margin-top: 0.4em;
        }

    }

    .introduction {
        position: absolute;
        padding-top: 5vmin;
        padding-bottom: 5vmin;
        bottom: 0px;
        line-height: 1.2em;
        font-size: 18px;
        width: 100vw;

        p {
            padding-bottom: 1vmin;
            margin: 0 20px;
            @media (max-width: 600px) {
                margin: 0 10px;
            }
        }

        .arrow-down {
            margin-top: 4vmin;
            display: block;
            height: 2vmin;
            background: url("./img/down.png") no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}

/*** Work ***/

section#work {
    min-height: 100vh;

    margin-top: 90px;
    @media (max-width: 600px) {
        margin-top: 70px;
    }

    ul {
        text-align: center;
    }

    li {
        padding: 0 20px;

        text-align: center;
        width: 200px;

        margin-bottom: 40px;

        display: inline-block;

        .teaser {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            box-shadow: 2px 2px 5px #888888;

            border-radius: 50%;
            height: 200px;
            width: 200px;
            margin-bottom: 20px;
            margin: auto;
        }

        h3 {
            font-size: 14px;
            margin-top: 20px;
        }

        p {
            font-size: 14px;
            margin-top: 5px;
            color: color-light-grey;
        }
    }
}
