@import "nib"
@import "mixins"
@import "reset"
@import "colors"

body {
    background-color: color-background;
    color: color-text;
    margin: 10px;
    font-family: Arial;
    background-image: url(/img/cream-dust.png);
}

em {
    font-weight: bold;
}

a, a:visited {
    color: color-box-text;
}

p {
    margin-bottom: 5px;
}

/***********
 * Container
 ***********/

container-width = 960px;
collapse-point = container-width + 20px; /* Used for media queries, includes margin*/
.container {
    max-width: container-width;
    margin: 0 auto;
    position: relative;
}

/***********
 * Headers
 ***********/

h1, h2, h3 {
    color: color-text;
    clear: left;
    position: relative;
    font-family: 'Bowlby One SC', cursive;

}

h1 {
    font-size: 5em;
    @media screen and (max-width:700px) { font-size: 4em; }
    @media screen and (max-width:600px) { font-size: 3.5em; }
    @media screen and (max-width:500px) { font-size: 3em; }
    @media screen and (max-width:450px) { font-size: 2.5em; }
    @media screen and (max-width:375px) { font-size: 2em; }
    @media screen and (max-width:300px) { font-size: 1.5em; }

    margin-bottom: 10px;

    small {
        font-size: 0.5em;

        @media screen and (max-width: 900px) {
            display: none;
        }
    }
}

h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

h3 {
    color: color-box-text;
    a {
        text-decoration: none;
    }
}

/***********
 * Boxes
 ***********/

box() {
    display: block;
    line-height: 1.2em;
    border-radius: 2px;
    text-align: left;
    position: relative;
    overflow: hidden;
    background: color-box-background;
    color: color-box-text;
    padding: 10px;

    margin-bottom: 10px;
}

half-size(gap = 5px, childOffset=0) {
    @media screen and (min-width:collapse-point) {
        display: block;
        float: left;
        width: container-width * 0.5 - gap;

        &:nth-child(2n+{childOffset}) {
            margin-right: 10px;
        }
    }
}

half-size-box(childOffset=1) {
    box();
    half-size(25px, childOffset);
}

/***********
 * Sections
 ***********/

.introduction {
    .main-text {
        box();
    }

    .contact {
        a, .no-link {
            box();
        }

        @media screen and (min-width:collapse-point) {
            li {
                display: block;
                float: left;

                margin-left: 10px;
                &:nth-child(1) {
                    margin-left: 0px;
                }

                a, &.no-link {


                    width: 131px;
                    text-decoration: none;
                    font-size: 2em;
                    text-align: center;
                    min-height: 70px;

                    &:hover {
                        background: color-contrast;
                        color: color-contrast-text;
                    }

                    .description {
                        display: block;
                        font-size: 0.8rem;
                        line-height: 1.2em;
                    }
                }

                &:nth-child(2n+1) {
                    a {
                        width: 132px; /* Make some boxes 1px wider to make them align with 960px*/
                    }
                }
            }
        }
    }
}

.interested-in,
.good-at {
    half-size();

    ul {
        box();

        @media screen and (min-width:collapse-point) {
            min-height: 165px;
        }

        li {
            margin-bottom: 5px;
        }
    }
}

.things-i-did {
    thumbnail-factor = 0.18; /* Original image size 997 x 732 */
    thumbnail-width = 997px * thumbnail-factor;
    thumbnail-height = 732px * thumbnail-factor;
    one-column-point = container-width * 0.5 - 27px;

    li {
        half-size-box();

        min-height: thumbnail-height + 25px;

        p {
            position: relative;

            &.qualifier {
                color: color-box-text-minor;
                font-size:0.8em;
            }
        }

        ul.links {
            li {
                margin-right: 10px;
                min-height: 0px;
                display: inline-block;

                a {
                    text-decoration: none
                    color: color-box-text-minor;
                    font-size:1em;
                }
            }
        }

        img {
            width: thumbnail-width;
            height: thumbnail-height;
            top: 10px;
        }

        @media screen and (min-width:one-column-point) {
            p {
                margin-left: thumbnail-width + 10px;

                &.qualifier {
                    position: absolute;
                    bottom: 5px;
                    margin-left: 0px;
                    margin-bottom: 0px;
                }
            }
            h3 {
                margin-left: thumbnail-width + 10px;
            }
            ul.links {
                position: absolute;
                left: thumbnail-width + 20px;
                bottom: 5px;
                text-align: right;
                right: 0px;
            }
            img {
                position: absolute;
            }
        }
    }
}