@import "colors"
@import "nib"

body {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.4em;

    background-color: color-yellow; /* todo: remove me */
}

/* During certain event (like dragging the ball in the slingshot game) we don't want text to get selected */
body.no-selection {
    user-select: none
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

hgroup {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    h1 {
        font-size: 32px;
    }
}